.accordionposition {
    opacity: 0;
    overflow: hidden;    
    max-height: 500px; 
    transition: opacity 0.3s ease-out;
    position: absolute;
    top: 0;
  }
  
  .accordionposition.active {
    opacity: 1;
  }
  
  .accordionposition.hidden {
    display: none;
  }
  