.pagebreadcumb ul li {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .5px;
    padding-right: 25px;
    color: #979797;
}
.pagebreadcumb  ul li a:after {
    content: ">";
    position: absolute;
    right: -16px;
}
.pagebreadcumb ul li a {
    color: var(--primary);
    position: relative;
}