@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-Regular.woff2') format('woff2'),
        url('AvertaStd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd-RegularItalic';
    src: url('AvertaStd-RegularItalic.woff2') format('woff2'),
        url('AvertaStd-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-LightItalic.woff2') format('woff2'),
        url('AvertaStd-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-Semibold.woff2') format('woff2'),
        url('AvertaStd-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-SemiboldItalic.woff2') format('woff2'),
        url('AvertaStd-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-Black.woff2') format('woff2'),
        url('AvertaStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-Thin.woff2') format('woff2'),
        url('AvertaStd-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-ThinItalic.woff2') format('woff2'),
        url('AvertaStd-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-BlackItalic.woff2') format('woff2'),
        url('AvertaStd-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-ExtraBold.woff2') format('woff2'),
        url('AvertaStd-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd-Extrathin';
    src: url('AvertaStd-Extrathin.woff2') format('woff2'),
        url('AvertaStd-Extrathin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd-ExtrathinItalic';
    src: url('AvertaStd-ExtrathinItalic.woff2') format('woff2'),
        url('AvertaStd-ExtrathinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-ExtraBoldItalic.woff2') format('woff2'),
        url('AvertaStd-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-BoldItalic.woff2') format('woff2'),
        url('AvertaStd-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-Bold.woff2') format('woff2'),
        url('AvertaStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvertaStd';
    src: url('AvertaStd-Light.woff2') format('woff2'),
        url('AvertaStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('AGaramondPro-Italic.woff2') format('woff2'),
        url('AGaramondPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('AGaramondPro-Regular.woff2') format('woff2'),
        url('AGaramondPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('AGaramondPro-BoldItalic.woff2') format('woff2'),
        url('AGaramondPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('AGaramondPro-Bold.woff2') format('woff2'),
        url('AGaramondPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Regular.woff2') format('woff2'),
        url('BebasNeue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueRegular.woff2') format('woff2'),
        url('BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeue-Thin.woff2') format('woff2'),
        url('BebasNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue Book';
    src: url('BebasNeueBook.woff2') format('woff2'),
        url('BebasNeueBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueBold.woff2') format('woff2'),
        url('BebasNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('BebasNeueLight.woff2') format('woff2'),
        url('BebasNeueLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

