.ctasection {
    padding: 80px 0 30px 0;
}
.ctacont span{
    font-size: var(--midFont);
    line-height: var(--smallHeight);
    color: var(--white);
    letter-spacing: var(--letter3);
}
a {
    text-decoration: none;
    color: inherit;
}
.ctacont p {
    font-size: 21px;
    font-weight: 600;
    color: var(--white);
    line-height: 30px;
    margin: 0;
}
.ctacomponent {
    width: 70px;
    margin-right: 25px;
}

.footerbox h4 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}
.footercolumn:nth-child(2) {
    max-width: 200px;
}

.footerbox span {
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 15px;
}

.footerbox a {
    color: inherit;
    text-decoration: inherit;
    align-items: center;
    display: flex;
}


.footerbox ul li {
    padding: 5px 0;
    display: flex;    
    font-size: medium;
}

.footerbox ul li p {
    width: auto;
    float: left;
    margin: 0;
    font-size: medium;
}
.footerbox span svg path{
 fill: var(--black);
}
.copyrightcont p{
    font-size: var(--smallFont);
}
.footerbox ul li a:hover {color: var(--primary);}